# Install the below libraries using "pip install -r requirements.txt"
datasets
transformers
torch
numpy
pandas
black
huggingface
huggingface-hub
scikit-learn
accelerate
bitsandbytes
peft
trl
tensorboard